body {
    font-family: Helvetica;
}

input[type="text"] {
    margin-right: 1rem;
}

form {
    margin-bottom: 1rem;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;        /* for single line flex container */
  align-content: center;      /* for multi-line flex container */
}

.align-item {
  margin: auto;
}
